@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap%27");

.navbar{
    display: flex;
    align-items: right;
    justify-content: space-between;
    font-family: "Roboto Condensed","sans-serif";
    font-weight: 500;
    font-size: 1.5rem;
    background: transparent;
    overflow-x: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.logo {
    display: block;
    width: 200px;
    padding: 2rem;
    
  }


.navigation-menu {
  margin-left: auto;
}


.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
  
  padding-left:1rem;
  padding-right:1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.navigation-menu li:hover{
  cursor: pointer;
  transform: translateY(-2px);
  transform: scale(1.1);
}

a:link {
  color: rgb(243, 242, 242);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(250, 255, 250);
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

@media screen and (max-width: 1130px) {
  .hamburger {
    display: block;
  }



  .navigation-menu ul {
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 50%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
    
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 0;
  }



  .navigation-menu.expanded ul {
    display: block;
  }
}