@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap%27");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: #fcfcfc;
    font-family: "Roboto Condensed","sans-serif";
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    overflow-x: hidden;
    margin-top: 6rem;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 900px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
    color: #cacdd2;
}


.footer-bottom{
    background: #000;
    margin: 0;
    width: 100vw;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-bottom img{
    height: 80px;
}