@import url('//fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

.newsElement{
    font-size: 2rem;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-basis;
}

.newsCard{
    width: 20%;
    margin: 1rem;
}

.newsProfile{
    display: flex;
    flex-direction: row;
}

.newsProfile h6{
    margin:  0 1rem;
    text-align: left;
}

.newsProfile p{
    margin: 0 1rem;
    font-size: 1.2rem;
    text-align: left;
}

.profileDetails{
    display: inline-block;
    width: 70%;
}
.avatar{
    border-radius: 50%;
    color: black;
    background-color: white;
    width: 50px;
    height: 50px;
}
.newsCard{
    width: 28%;
    color: white;
}

.thumbnail{
    width: 100%;
    height: 250px;
}

.newsTitle{
    font-size: 1.5rem;
    text-align: left;
    margin: 0.2rem 0.1rem;
    font-weight: 750;
}

.newsDescription{
    font-size: 1.3rem;
    text-align: left;
    margin: 0.2rem 0.1rem;
}