@import url('//fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

body {
    background-color: #133667;
    color: white;
    text-align: center;
}

<<<<<<< HEAD
=======
.entirePage{
  padding-top: 10rem;
}

<<<<<<< HEAD
>>>>>>> 9a077034a34f49478239bf208a02473ec6d456b1
=======
.search-prompt{
  font-family: 'Roboto Condensed', sans-serif;
}

>>>>>>> aea7bebc22772860e152cdf079c65abd2a4c43bc
input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px
}

.Results {
  color: white;
  text-align: center;
  display: flex;
  flex-direction:   row;
  margin-top:   25px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  height: 450px;
}

.loading{
  width: 100%;
  font-size: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
}


.Map{
  width: 40%;
  height: fit-content;
}
