body {
    background-color: #133667;
    color: white;
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px
}

.Results {
  display: flex;
  flex-direction:   row;
  background-color: white;
  margin-top:   25px;
  margin-left:  65px;
  margin-right: 65px;
  height: fit-content;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.WeatherCard{
  position: relative;
  width: 50%;
  overflow: hidden;
  background-color: black;
}

.bg-image{
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
}

.content{
  display: flex;
  flex-wrap: wrap;
  
}
.top-info{
  display: flex;
  height: 50%;
  justify-content: space-between;
}

.bottom-info{
  display: flex;
  height: 50%;
  justify-content: space-around;
}
.Map{
  width: 50%;
}

