@import url('//fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

body {
    background-color: #133667;
    color: white;
    text-align: center;
}

.entirePage{
  padding-top: 10rem;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.search-prompt{
  font-family: 'Roboto Condensed', sans-serif;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px
}

.Results {
  color: white;
  text-align: center;
  display: flex;
  flex-direction:   row;
  margin-top:   25px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  height: 450px;
}

.forecast-carousel{
  width: 63.4rem;
  margin-left: 15%;

}

.error-icon{
  font-size: 4rem;
  color: red;
}

.error-prompt{
  margin-top: 1.5rem;  
  width: 60%;
  font-size: 2.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.weather-map{
  position: relative;
  width: 40%;
  height: fit-content;
}

#weather-location-search {
  width: clamp(20em, 30%, 90%);
  /* margin: auto; */
  z-index: 100;
}

.search-interface {
  display: flex;
  justify-content: center;
}


.s-i-t {
  display: inline;  
  padding: 0 10px;
}